[Unit]
Description=OpenSLP daemon for the Service Location Protocol
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/slpd -d
ExecStartPre=/usr/lib/openslp-server/slp-multicast-set.sh

[Install]
WantedBy=multi-user.target
