[components.azurelinux-rpm-config]
spec = { type = "upstream", upstream-name = "redhat-rpm-config" }
overlays = [
    #
    # Overlays for spec.
    #

    # Set the component's name.
    { type = "spec-set-tag", tag = "Name", value = "azurelinux-rpm-config" },
    # Set this distro's URL.
    { type = "spec-set-tag", tag = "URL", value = "https://aka.ms/azurelinux" },
    # Set our version.
    { type = "spec-update-tag", tag = "Version", value = "1004" },
    # Provide compatibility with Fedora's upstream version.
    { type = "spec-add-tag", tag = "Provides", value = "redhat-rpm-config = %{version}-%{release}" },
    # Make sure this package takes precedence over (and would replace) any Fedora variant.
    # Note that Fedora's version of redhat-rpm-config has a version equal to 300 + the release number
    # (e.g., 343 for Fedora 43).
    { type = "spec-add-tag", tag = "Obsoletes", value = "redhat-rpm-config < 1000" },
    { type = "spec-add-tag", tag = "Conflicts", value = "redhat-rpm-config < 1000" },

    # Create symlink for our own name: /usr/lib/rpm/azurelinux -> /usr/lib/rpm/redhat
    # Note that we don't do the reverse to avoid conflicts with upstream Fedora
    # redhat-rpm-config during bootstrapping (replacing a dir with a symlink is
    # problematic in RPM land).
    # TODO: remove symlinks after bootstrap
    { type = "spec-prepend-lines", section = "%install", lines = ["mkdir -p %{buildroot}/usr/lib/rpm", "ln -sf redhat %{buildroot}/usr/lib/rpm/azurelinux"] },
    { type = "spec-prepend-lines", section = "%files", lines = ["/usr/lib/rpm/azurelinux"] },

    # Create a symlink pkg-config: /usr/bin/<arch>-azurelinux-linux-gnu-pkg-config -> /usr/bin/<arch>-redhat-linux-gnu-pkg-config.
    # TODO: remove symlinks after bootstrap
    { type = "spec-prepend-lines", section = "%install", lines = ["mkdir -p %{buildroot}/usr/bin", "for arch in x86_64 aarch64; do", "  ln -sf ${arch}-redhat-linux-gnu-pkg-config %{buildroot}/usr/bin/${arch}-azurelinux-linux-gnu-pkg-config", "done"] },
    { type = "spec-prepend-lines", section = "%files", lines = ["/usr/bin/*-azurelinux-linux-gnu-pkg-config"] },

    #
    # Overlays for non-spec files.
    #

    # Update all references to the Fedora version of this package to the Azure Linux one.
    { type = "file-search-replace", file = "**/*", regex = "redhat-rpm-config", replacement = "azurelinux-rpm-config" },

    # Update vendor macro.
    { type = "file-search-replace", file = "macros", regex = "%_vendor.*", replacement = "%_vendor azurelinux" },

    # Remove dist.sh file; we'll replace it wholesale with our own version.
    { type = "file-remove", file = "dist.sh" },
    # Add our own version of dist.sh customized for Azure Linux.
    { type = "file-add", file = "dist.sh", source = "dist.sh" },

    # Targeted adjustments in some macros files.
    { type = "file-search-replace", file = "macros.fedora-misc-srpm", regex = "/lib/swidtag/fedoraproject.org", replacement = "/lib/swidtag/microsoft.com" },
    { type = "file-search-replace", file = "macros.fedora-misc-srpm", regex = "[Ff]edora", replacement = "azurelinux" },
]
