[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=notify
User=postgres
ExecStart=/usr/bin/postgres -D /usr/local/pgsql/data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
