[Desktop Entry]
Encoding=UTF-8
Name=xPBSMon
GenericName=PBS/TORQUE cluster monitor
Comment=View node status
Exec=xpbsmon
Icon=xpbsmon.png
Terminal=false
Type=Application
Categories=Education;Science;ComputerScience;ParallelComputing;
Version=1.0
