# mod_proxy_balancer should be disabled when mod_cluster is used
LoadModule proxy_cluster_module /usr/lib64/httpd/modules/mod_proxy_cluster.so
LoadModule cluster_slotmem_module /usr/lib64/httpd/modules/mod_cluster_slotmem.so
LoadModule manager_module /usr/lib64/httpd/modules/mod_manager.so
LoadModule advertise_module /usr/lib64/httpd/modules/mod_advertise.so

MemManagerFile /var/cache/httpd/mod_proxy_cluster

<IfModule manager_module>
  Listen 6666
  <VirtualHost *:6666>
    DirectoryIndex disabled
    <Location />
      Require ip 127.0.0.1
    </Location>
    ServerAdvertise on
    EnableMCPMReceive
    <Location /mod_cluster_manager>
      SetHandler mod_cluster-manager
      Require ip 127.0.0.1
   </Location>
  </VirtualHost>
</IfModule>
