policy_module(mod_proxy_cluster, 1.0)

gen_tunable(httpd_mod_proxy_cluster, true)

require {
        type httpd_t;
        type http_port_t;
}

tunable_policy(`httpd_mod_proxy_cluster', `
corenet_udp_bind_http_port(httpd_t)
    ')
