[Unit]
Description=Remote quota server
Documentation=man:rpc.rquotad(8)
Requires=rpcbind.service
PartOf=rpcbind.service
After=rpcbind.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/rpc-rquotad
ExecStart=/usr/sbin/rpc.rquotad $RPCRQUOTADOPTS

[Install]
WantedBy=multi-user.target
WantedBy=nfs-server.service
