[Unit]
Description=Synchronize system clock to NTP and PTP time sources
After=chronyd.service ntpd.service ntpdate.service sntp.service network-online.target
Conflicts=chronyd.service ntpd.service phc2sys.service ptp4l.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/timemaster -f /etc/timemaster.conf

[Install]
WantedBy=multi-user.target
