<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/CBL-Mariner/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/CBL-Mariner/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/CBL-Mariner/favicon-16x16.png">
<link rel="manifest" href="/CBL-Mariner/site.webmanifest">
<link rel="mask-icon" href="/CBL-Mariner/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/CBL-Mariner/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/CBL-Mariner/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
