/kdeclarative-bf3f9d6.tar.gz
/kdeclarative-5.245.0.tar.xz
/kdeclarative-5.246.0.tar.xz
/kdeclarative-5.247.0.tar.xz
/kdeclarative-5.248.0.tar.xz
/kdeclarative-5.249.0.tar.xz
/kdeclarative-6.0.0.tar.xz
/kdeclarative-6.1.0.tar.xz
/kdeclarative-6.2.0.tar.xz
/kdeclarative-6.3.0.tar.xz
/kdeclarative-6.4.0.tar.xz
/kdeclarative-6.5.0.tar.xz
/kdeclarative-6.6.0.tar.xz
/kdeclarative-6.7.0.tar.xz
/kdeclarative-6.8.0.tar.xz
/kdeclarative-6.9.0.tar.xz
/kdeclarative-6.10.0.tar.xz
/kdeclarative-6.11.0.tar.xz
/kdeclarative-6.12.0.tar.xz
/kdeclarative-6.13.0.tar.xz
/kdeclarative-6.14.0.tar.xz
/kdeclarative-6.14.0.tar.xz.sig
/kdeclarative-6.15.0.tar.xz
/kdeclarative-6.15.0.tar.xz.sig
/kdeclarative-6.16.0.tar.xz
/kdeclarative-6.16.0.tar.xz.sig
/kdeclarative-6.17.0.tar.xz
/kdeclarative-6.17.0.tar.xz.sig
/kdeclarative-6.18.0.tar.xz
/kdeclarative-6.18.0.tar.xz.sig
/kdeclarative-6.19.0.tar.xz
/kdeclarative-6.19.0.tar.xz.sig
/kdeclarative-6.20.0.tar.xz
/kdeclarative-6.20.0.tar.xz.sig
/kdeclarative-6.21.0.tar.xz
/kdeclarative-6.21.0.tar.xz.sig
/kdeclarative-6.22.0.tar.xz
/kdeclarative-6.22.0.tar.xz.sig
/kdeclarative-6.23.0.tar.xz
/kdeclarative-6.23.0.tar.xz.sig
