[Unit]
Description=Activation of DM RAID sets
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-udev-settle.service
Before=lvm2-activation-early.service cryptsetup.target local-fs-pre.target shutdown.target
Wants=systemd-udev-settle.service

[Service]
ExecStart=/lib/systemd/fedora-dmraid-activation
Type=oneshot

[Install]
WantedBy=sysinit.target
