[Unit]
Description=Automates a packet filtering firewall with arptables
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/arptables-helper start
ExecStop=/usr/libexec/arptables-helper stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
