[Unit]
Description=OpenDNSSEC signer daemon
After=syslog.target network.target ods-enforcerd.service

[Service]
Type=simple
User=ods
Group=ods
PIDFile=/run/opendnssec/signerd.pid
EnvironmentFile=-/etc/sysconfig/ods
ExecStart=/usr/sbin/ods-signerd -d $ODS_SIGNERD_OPT

[Install]
WantedBy=multi-user.target
