[Unit]
Description=Notify NFS peers of a restart
Requires=network-online.target
After=network-online.target nss-lookup.target nfs-server.service
PartOf=nfs-client.service

[Service]
Type=forking
EnvironmentFile=/etc/default/nfs-utils
ExecStart=/sbin/sm-notify $SM_NOTIFY_OPTS
