# GitHub-specific attributes are documented here:
# https://github.com/github/linguist/blob/master/docs/overrides.md
*.spec linguist-detectable linguist-language=RPM-Spec
toolkit/docs/** linguist-documentation
LICENSES-AND-NOTICES/** linguist-documentation
LICENSES-AND-NOTICES/SPECS/** linguist-documentation
LICENSES-AND-NOTICES/SPECS/LICENSES-MAP.md linguist-generated
