[Unit]
Description=Software RAID monitoring and management
ConditionPathExists=/etc/mdadm.conf

[Service]
Type=forking
PIDFile=/run/mdadm/mdadm.pid
EnvironmentFile=-/etc/sysconfig/mdmonitor
ExecStart=/sbin/mdadm --monitor --scan --syslog -f --pid-file=/run/mdadm/mdadm.pid

[Install]
WantedBy=multi-user.target
