[Unit]
Description=Generate Confidential Containers UVM image for host kernel

[Service]
Type=oneshot
ExecStart=/opt/mariner/share/uvm/mariner-coco-build-uvm-image.sh -c
ExecReload=/opt/mariner/share/uvm/mariner-coco-build-uvm-image.sh

[Install]
WantedBy=kubelet.service
