[Unit]
Description=Pull "pause" image for Kata CC
Requires=tardev-snapshotter.service
After=tardev-snapshotter.service

[Service]
Type=oneshot
ExecStart=/opt/mariner/share/uvm/pause-image.sh
ExecReload=/opt/mariner/share/uvm/pause-image.sh
 