[Unit]
Description=dhcpcd on %I
Wants=network.target
Before=network.target
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
[Service]
Type=forking
PIDFile=/run/dhcpcd/%I.pid
ExecStart=/usr/sbin/dhcpcd -q %I
ExecStop=/usr/sbin/dhcpcd -x %I
[Install]
WantedBy=multi-user.target
