[Unit]
Description=Kernel process accounting
After=syslog.target
ConditionPathExists=/var/account

[Service]
Type=oneshot
ExecStartPre=/usr/libexec/psacct/accton-create
ExecStart=/usr/sbin/accton /var/account/pacct
ExecStop=/usr/sbin/accton off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
