[Unit]
Description=OpenPegasus CIM Server
After=syslog.target slpd.service

[Service]
Type=forking
ExecStartPre=/usr/share/Pegasus/scripts/generate-certs
ExecStart=/usr/sbin/cimserver
PIDFile=/var/run/tog-pegasus/cimserver.pid

[Install]
WantedBy=multi-user.target
