[Unit]
Description=Racoon IKEv1 key management daemon for IPSEC
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/racoon
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
