<header>
  <header class="masthead">
    <div class="container h-100">
      {% include navigation.html %}
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="text-white">Get started with Mariner</h1>
          <p class="text-light">CBL-Mariner is an internal Linux distribution for Microsoft’s cloud infrastructure and edge products and services. CBL-Mariner is designed to provide a consistent platform for these devices and services and will enhance Microsoft’s ability to stay current on Linux updates. This initiative is part of Microsoft’s increasing investment in a wide range of Linux technologies</p>
          <a class="btn btn-outline-light btn-lg m-2" href="/trymariner" role="button">Try Mariner</a>
          <a class="btn btn-outline-light btn-lg m-2" href="//github.com/microsoft/CBL-Mariner" role="button">Mariner sources on GitHub</a>
        </div>
      </div>
    </div>
  </header> 