<!-- Navigation -->
<nav class="navbar navbar-expand-lg transparent" >
    <div class="container">
      <a class="navbar-brand text-light" href="{{ site.baseurl }}/">CBL-Mariner</a>
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          {% for item in site.data.menu %}
          <li class="nav-item {% if item.link == page.url %} active {% endif %}">
            <a class="nav-link text-light" href="{{ site.baseurl }}{{ item.link }}">{{
              item.title
            }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>