[Unit]
Description=IPMI Node Detection Monitoring Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/ipmidetectd 

[Install]
WantedBy=multi-user.target
