[Unit]
Description=Network Block Device server
Documentation=man:nbd-server(1) man:nbd-server(5)
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/nbd-server
ExecStart=/usr/bin/nbd-server $OPTIONS
PIDFile=/run/nbd-server.pid

[Install]
WantedBy=multi-user.target
