[Unit]
Description=TLS tunnel for %I
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/stunnel /etc/stunnel/%i.conf
Type=forking
PrivateTmp=true

[Install]
WantedBy=multi-user.target
