[Unit]
Description=InfluxDB is an open-source, distributed, time series database
Documentation=https://docs.influxdata.com/influxdb/
After=network.target

[Service]
Environment="INFLUXD_CONFIG_PATH=/etc/influxdb/config.yaml"
LimitNOFILE=65536
ExecStart=/usr/bin/influxd
Type=simple
StandardOutput=journal
StandardError=journal
User=influxdb
Group=influxdb

[Install]
WantedBy=multi-user.target
