[Unit]
Description=targetd storage array API daemon
Requires=target.service
After=target.service

[Service]
ExecStart=/usr/bin/targetd

[Install]
WantedBy=multi-user.target

