[Unit]
Description=Hyper-V KVP daemon
ConditionVirtualization=microsoft
BindsTo=sys-devices-virtual-misc-vmbus\x21hv_kvp.device
After=sys-devices-virtual-misc-vmbus\x21hv_kvp.device
RequiresMountsFor=/var/lib/hyperv
IgnoreOnIsolate=1

[Service]
Type=simple
ExecStart=/usr/sbin/hypervkvpd -n
