[Desktop Entry]
Name=Qt4 Assistant 
GenericName=Documentation viewer
Comment=Shows Qt4 documentation and examples
Exec=assistant-qt4
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
