[Unit]
Description=Apache Cassandra
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/cassandra
Type=simple
PIDFile=/var/run/cassandra.pid
ExecStart=/usr/sbin/cassandra -f -p /var/run/cassandra.pid
User=cassandra
Group=cassandra
StandardError=journal
StandardOutput=journal
Restart=always
RestartSec=30
LimitNOFILE=infinity
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
