# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.am text eol=lf
*.in text eol=lf
*.ac text eol=lf
install text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.mak text  eol=crlf

# Denote all files that are truly binary and should not be modified.
