search -n -u {{.BootUUID}} -s
search.fs_uuid {{.BootUUID}} root

# If '/boot' is a seperate partition, BootUUID will point directly to '/boot'.
# In this case we should omit the '/boot' prefix from all paths.
set bootprefix={{.BootPrefix}}
set prefix=($root)'/boot/grub2'
configfile $prefix/grub.cfg