[Unit]
Description=Purge local fstab changes from /etc overlay
ConditionPathExists=/overlays/etc/upper/fstab
DefaultDependencies=no
After=cloud-init.service
Wants=cloud-init.service

[Service]
Type=oneshot
ExecStart=rm /overlays/etc/upper/fstab

[Install]
WantedBy=cloud-init.target
