[Unit]
Description=Set time via NTP
After=network-online.target nss-lookup.target
Before=time-sync.target
Wants=time-sync.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/ntpdate-wrapper
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
