out/

# Temporary toolchain build files that are left behind after a failed build.
scripts/toolchain/container/.bashrc
scripts/toolchain/container/coreutils-fix-get-sys_getdents-aarch64.patch
scripts/toolchain/container/cpio_extern_nocommon.patch
scripts/toolchain/container/CVE-2021-38185.patch
scripts/toolchain/container/linker-script-readonly-keyword-support.patch
scripts/toolchain/container/rpm-define-RPM-LD-FLAGS.patch
scripts/toolchain/container/texinfo-perl-fix.patch
scripts/toolchain/container/toolchain-local-wget-list
scripts/toolchain/container/CVE-2021-36690.patch