out/

# Temporary toolchain build files that are left behind after a failed build.
scripts/toolchain/container/.bashrc
scripts/toolchain/container/Awt_build_headless_only.patch
scripts/toolchain/container/check-system-ca-certs.patch
scripts/toolchain/container/texinfo-perl-fix.patch
scripts/toolchain/container/toolchain-local-wget-list
scripts/toolchain/container/rpm-define-RPM-LD-FLAGS.patch