# /etc/systemd/system/custodia@.socket

[Unit]
Description=Custodia Socket for %i
Documentation=https://github.com/latchset/custodia

[Socket]
ListenStream=/var/run/custodia/%i.sock
Service=custodia@%i.service
RemoveOnStop=true
SocketUser=custodia
SocketGroup=custodia
SocketMode=0666
PassCredentials=true
PassSecurity=true

[Install]
WantedBy=sockets.target
