[Unit]
Description=LTTng 2.x central tracing registry session daemon

[Service]
Type=forking
ExecStart=/usr/bin/lttng-sessiond -d
KillMode=mixed

[Install]
WantedBy=multi-user.target
