[Desktop Entry]
Name=Mupdf
GenericName=PDF file viewer
Comment=Lightweight PDF file viewer written on portable C
Exec=mupdf-x11 %f
Icon=mupdf
Terminal=false
Type=Application
Categories=Viewer;Graphics;
MimeType=application/pdf;application/x-pdf;
NoDisplay=true
