insmod all_video
insmod gzio
insmod xzio
insmod part_msdos
insmod squash4
insmod iso9660
insmod ext2
insmod btrfs
insmod regexp

set default="0"
set timeout=10
# set debug=all

# iso-scan/filename=
# - ref: https://www.man7.org/linux/man-pages/man7/dracut.cmdline.7.html
# - ref: https://askubuntu.com/questions/644400/is-there-documentation-for-iso-scan-filename
# root=live:UUID=$rootfsUUID \
menuentry "Mariner Baremetal Iso" {
    search --label baremetal-iso --set root

    # set rootfsFile=(cd0)/LiveOS/squashfs.img
    # loopback loop $rootfsFile

    # linux (loop)/boot/vmlinuz-5.15.138.1-1.cm2 \
#            console=ttyS0,115200n8 \
#            console=ttyS0 \

    set rootfsUUID=f0a152c9-5201-4d54-98ba-f3316270ba59
    linux /boot/vmlinuz \
            overlay-size=70% \
            debug=7 \
            console=tty0 \
            apparmor=0 \
            rootdelay=5 \
            root=live:UUID=$rootfsUUID \
            rd.shell \
            rd.debug \
            iso-scan/filename=artifacts/wrapper.img \
            rd.live.image \
            rd.live.debug=1 \
            rd.live.ram=1 \
            rd.live.dir=LiveOS \
            rd.live.overlay=none \
            rd.writable.fsimg=1
            # log_buf_len=1M

    initrd /boot/initrd.img
}