set default="0"
set timeout=1

menuentry "Mariner Baremetal Iso" {

    search --label baremetal-iso --set root
    linux /boot/vmlinuz \
            overlay-size=70% \
            selinux=0 \
            console=tty0 \
            apparmor=0 \
            root=live:LABEL=baremetal-iso \
            rd.shell \
            rd.live.image \
            rd.live.dir=LiveOS \
            rd.live.squashimg=rootfs.img \
            rd.live.overlay=1 \
            rd.live.olverlay.noprompt=1

    initrd /boot/initrd.img
}