[Desktop Entry]
Name=Qt3 Assistant 
Comment=Add translations to Qt3 applications
Exec=assistant
Icon=assistant3
Terminal=false
Type=Application
Categories=Qt;Development;
