[Unit]
Description=Naming services LDAP client daemon.
After=syslog.target network.target named.service dirsrv.target slapd.service
Documentation=man:nslcd(8) man:nslcd.conf(5)

[Service]
Type=forking
PIDFile=/var/run/nslcd/nslcd.pid
ExecStart=/usr/sbin/nslcd
RestartSec=10s
Restart=on-failure

[Install]
WantedBy=multi-user.target
