[Unit]
Description=Subscribe to kernel livepatches across kernel updates
Before=kpatch.service

[Service]
Type=notify
NotifyAccess=main
ExecStart=/lib/livepatching/livepatching.systemd

[Install]
WantedBy=multi-user.target
