[Unit]
Description=Unbound recursive Domain Name Server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/unbound-checkconf
ExecStart=/usr/sbin/unbound -d
ExecReload=/usr/sbin/unbound-control reload

[Install]
WantedBy=multi-user.target
