[Unit]
# Upstream issue - https://github.com/fedora-iot/iot-distro/issues/2
ConditionPathExists=!/var/lib/fedora-iot-config-remote-fix.stamp
Description=Detect and fix fedora-iot remote in sysroot.
After=ostree-remount.service
Before=greenboot-healthcheck.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/fedora-iot-config-remote-fix.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
