/*.src.rpm
/kdegraphics-mobipocket-17.08.1.tar.xz
/kdegraphics-mobipocket-17.08.2.tar.xz
/kdegraphics-mobipocket-17.08.3.tar.xz
/kdegraphics-mobipocket-17.12.0.tar.xz
/kdegraphics-mobipocket-17.12.1.tar.xz
/kdegraphics-mobipocket-17.12.2.tar.xz
/kdegraphics-mobipocket-17.12.3.tar.xz
/kdegraphics-mobipocket-18.03.90.tar.xz
/kdegraphics-mobipocket-18.04.0.tar.xz
/kdegraphics-mobipocket-18.04.1.tar.xz
/kdegraphics-mobipocket-18.04.2.tar.xz
/kdegraphics-mobipocket-18.04.3.tar.xz
/kdegraphics-mobipocket-18.08.1.tar.xz
/kdegraphics-mobipocket-18.08.2.tar.xz
/kdegraphics-mobipocket-18.08.3.tar.xz
/kdegraphics-mobipocket-18.12.0.tar.xz
/kdegraphics-mobipocket-18.12.1.tar.xz
/kdegraphics-mobipocket-18.12.2.tar.xz
/kdegraphics-mobipocket-18.12.3.tar.xz
/kdegraphics-mobipocket-19.04.2.tar.xz
/kdegraphics-mobipocket-19.04.3.tar.xz
/kdegraphics-mobipocket-19.08.1.tar.xz
/kdegraphics-mobipocket-19.08.2.tar.xz
/kdegraphics-mobipocket-19.08.3.tar.xz
/kdegraphics-mobipocket-19.12.1.tar.xz
/kdegraphics-mobipocket-19.12.2.tar.xz
/kdegraphics-mobipocket-19.12.3.tar.xz
/kdegraphics-mobipocket-20.04.1.tar.xz
/kdegraphics-mobipocket-20.04.2.tar.xz
/kdegraphics-mobipocket-20.04.3.tar.xz
/kdegraphics-mobipocket-20.08.0.tar.xz
/kdegraphics-mobipocket-20.08.1.tar.xz
/kdegraphics-mobipocket-20.08.3.tar.xz
/kdegraphics-mobipocket-20.12.2.tar.xz
/kdegraphics-mobipocket-20.12.3.tar.xz
/kdegraphics-mobipocket-21.04.0.tar.xz
/kdegraphics-mobipocket-21.04.1.tar.xz
/kdegraphics-mobipocket-21.04.2.tar.xz
/kdegraphics-mobipocket-21.08.2.tar.xz
/kdegraphics-mobipocket-21.08.3.tar.xz
/kdegraphics-mobipocket-21.12.0.tar.xz
/kdegraphics-mobipocket-21.12.1.tar.xz
/kdegraphics-mobipocket-21.12.2.tar.xz
/kdegraphics-mobipocket-21.12.3.tar.xz
/kdegraphics-mobipocket-22.04.0.tar.xz
/kdegraphics-mobipocket-22.04.0.tar.xz
/kdegraphics-mobipocket-22.04.1.tar.xz
/kdegraphics-mobipocket-22.04.1.tar.xz
/kdegraphics-mobipocket-22.08.0.tar.xz
/kdegraphics-mobipocket-22.08.1.tar.xz
/kdegraphics-mobipocket-22.08.2.tar.xz
/kdegraphics-mobipocket-22.08.3.tar.xz
/kdegraphics-mobipocket-22.12.0.tar.xz
/kdegraphics-mobipocket-22.12.1.tar.xz
/kdegraphics-mobipocket-22.12.2.tar.xz
/kdegraphics-mobipocket-22.12.3.tar.xz
/kdegraphics-mobipocket-23.03.80.tar.xz
/kdegraphics-mobipocket-23.03.90.tar.xz
/kdegraphics-mobipocket-23.04.0.tar.xz
/kdegraphics-mobipocket-23.04.1.tar.xz
/kdegraphics-mobipocket-23.04.2.tar.xz
/kdegraphics-mobipocket-23.04.3.tar.xz
/kdegraphics-mobipocket-23.08.0.tar.xz
/kdegraphics-mobipocket-23.08.1.tar.xz
/kdegraphics-mobipocket-23.08.2.tar.xz
/kdegraphics-mobipocket-24.01.85.tar.xz
/kdegraphics-mobipocket-24.01.90.tar.xz
/kdegraphics-mobipocket-24.01.95.tar.xz
/kdegraphics-mobipocket-24.02.0.tar.xz
/kdegraphics-mobipocket-24.02.1.tar.xz
/kdegraphics-mobipocket-24.02.2.tar.xz
/kdegraphics-mobipocket-24.05.0.tar.xz
/kdegraphics-mobipocket-24.05.1.tar.xz
/kdegraphics-mobipocket-24.05.2.tar.xz
/kdegraphics-mobipocket-24.08.0.tar.xz
/kdegraphics-mobipocket-24.08.1.tar.xz
/kdegraphics-mobipocket-24.08.2.tar.xz
/kdegraphics-mobipocket-24.08.3.tar.xz
/kdegraphics-mobipocket-24.11.80.tar.xz
/kdegraphics-mobipocket-24.11.90.tar.xz
/kdegraphics-mobipocket-24.12.0.tar.xz
/kdegraphics-mobipocket-24.12.1.tar.xz
/kdegraphics-mobipocket-24.12.2.tar.xz
/kdegraphics-mobipocket-24.12.3.tar.xz
/kdegraphics-mobipocket-25.03.80.tar.xz
/kdegraphics-mobipocket-25.04.0.tar.xz
/kdegraphics-mobipocket-25.04.1.tar.xz
/kdegraphics-mobipocket-25.04.2.tar.xz
/kdegraphics-mobipocket-25.04.3.tar.xz
/kdegraphics-mobipocket-25.07.80.tar.xz
/kdegraphics-mobipocket-25.07.90.tar.xz
/kdegraphics-mobipocket-25.08.0.tar.xz
/kdegraphics-mobipocket-25.08.1.tar.xz
/kdegraphics-mobipocket-25.08.2.tar.xz
/kdegraphics-mobipocket-25.08.3.tar.xz
/kdegraphics-mobipocket-25.11.80.tar.xz
/kdegraphics-mobipocket-25.11.90.tar.xz
/kdegraphics-mobipocket-25.12.0.tar.xz
/kdegraphics-mobipocket-25.12.1.tar.xz
/kdegraphics-mobipocket-25.12.2.tar.xz
