[Unit]
Description=RPC Bind Service
Requires=rpcbind.socket

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/rpcbind
ExecStart=/usr/sbin/rpcbind $RPCBIND_OPTIONS -w

[Install]
WantedBy=multi-user.target
Also=rpcbind.socket
