[Desktop Entry]
Name=Traceroute
Type=Application
Comment=Traces packets between two network hosts
Exec=xmtr
Terminal=false
Icon=mtr_icon.xpm
Encoding=UTF-8
X-Desktop-File-Install-Version=0.2
Categories=System;Application;
