[Unit]
Description=Fluentd
Documentation=http://www.fluentd.org/
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/fluentd --no-supervisor -c /etc/fluentd/fluent.conf
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target