[Unit]
Description=Heimdal ipropd-slave incremental propagation service
Documentation=man:iprop(8) info:heimdal http://www.h5l.org/
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/libexec/ipropd-slave-wrapper
PIDFile=/var/run/ipropd-slave.pid

[Install]
WantedBy=multi-user.target
