[Unit]
Description=Heimdal kpasswdd allows users to change their KDC passwords
Documentation=man:kpasswdd(8) info:heimdal http://www.h5l.org/
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/libexec/kpasswdd
PIDFile=/var/run/kpasswdd.pid

[Install]
WantedBy=multi-user.target
