<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include header.html %}
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">
        {{ content }}
    </div>
    {% include footer.html %}
     <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>