/kcontacts-606920e.tar.gz
/kcontacts-5.245.0.tar.xz
/kcontacts-5.246.0.tar.xz
/kcontacts-5.247.0.tar.xz
/kcontacts-5.248.0.tar.xz
/kcontacts-5.249.0.tar.xz
/kcontacts-6.0.0.tar.xz
/kcontacts-6.1.0.tar.xz
/kcontacts-6.2.0.tar.xz
/kcontacts-6.3.0.tar.xz
/kcontacts-6.4.0.tar.xz
/kcontacts-6.5.0.tar.xz
/kcontacts-6.6.0.tar.xz
/kcontacts-6.7.0.tar.xz
/kcontacts-6.8.0.tar.xz
/kcontacts-6.9.0.tar.xz
/kcontacts-6.10.0.tar.xz
/kcontacts-6.11.0.tar.xz
/kcontacts-6.12.0.tar.xz
/kcontacts-6.13.0.tar.xz
/kcontacts-6.14.0.tar.xz
/kcontacts-6.14.0.tar.xz.sig
/kcontacts-6.15.0.tar.xz
/kcontacts-6.15.0.tar.xz.sig
/kcontacts-6.16.0.tar.xz
/kcontacts-6.16.0.tar.xz.sig
/kcontacts-6.17.0.tar.xz
/kcontacts-6.17.0.tar.xz.sig
/kcontacts-6.18.0.tar.xz
/kcontacts-6.18.0.tar.xz.sig
/kcontacts-6.19.0.tar.xz
/kcontacts-6.19.0.tar.xz.sig
/kcontacts-6.20.0.tar.xz
/kcontacts-6.20.0.tar.xz.sig
/kcontacts-6.21.0.tar.xz
/kcontacts-6.21.0.tar.xz.sig
/kcontacts-6.22.0.tar.xz
/kcontacts-6.22.0.tar.xz.sig
/kcontacts-6.23.0.tar.xz
/kcontacts-6.23.0.tar.xz.sig
