[Unit]
Description=Initialize SCSI Tape Drives

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/stinit -f /etc/stinit.def

[Install]
WantedBy=multi-user.target
