+++
title = "Azure AD Pod Identity"
linkTitle = "Azure AD Pod Identity"

+++

{{< blocks/cover title="Microsoft's Azure AD Pod Identity Project" image_anchor="top" height="full" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Get Started </i>
	</a>
	<p class="lead mt-5">An Azure Compute OSS Upstream Team project that enables Kubernetes applications to access cloud resources securely with Azure Active Directory (AAD).</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The AAD Pod Identity project uses Kubernetes primitives, administrators configure identities and bindings to match pods. Then without any code modifications, your containerized applications can leverage any resource in the cloud that depends on AAD as an identity provider.
{{% /blocks/lead %}}


{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="Interested in the AAD Pod Identity Project?" url="./docs/" %}}
Head over to our docs page to get started.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Get Involved!" url="./docs/contributing/" %}}
Help shape and/or enhance the AAD Pod Identity Project. Contributions are always welcome!
{{% /blocks/feature %}}

<!--
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
Find out about new features and how our users are using Docsy.
{{% /blocks/feature %}}
-->

{{< /blocks/section >}}
