[Unit]
Description=Arpwatch daemon which keeps track of ethernet/ip address pairings
After=syslog.target network-online.target
Documentation=man:arpwatch

[Service]
Type=forking
PrivateTmp=yes
ExecStart=/usr/sbin/arpwatch -u arpwatch -e root -s 'root (Arpwatch)'

[Install]
WantedBy=multi-user.target
