/*.tar.xz
/*.src.rpm
/breeze-6.3.91.tar.xz.sig
/breeze-6.4.0.tar.xz.sig
/breeze-6.4.1.tar.xz.sig
/breeze-6.4.2.tar.xz.sig
/breeze-6.4.3.tar.xz.sig
/breeze-6.4.4.tar.xz.sig
/breeze-6.4.5.tar.xz.sig
/breeze-6.4.91.tar.xz.sig
/breeze-6.5.0.tar.xz.sig
/breeze-6.5.1.tar.xz.sig
/breeze-6.5.2.tar.xz.sig
/breeze-6.5.3.tar.xz.sig
/breeze-6.5.4.tar.xz.sig
/breeze-6.5.5.tar.xz.sig
/breeze-6.5.90.tar.xz.sig
/breeze-6.5.91.tar.xz.sig
/breeze-6.6.0.tar.xz.sig
