[Unit]
Description=OrangeFS Parallel File System Client
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/pvfs2-client-core --logtype=syslog

[Install]
WantedBy=multi-user.target
