[Unit]
Description=Hardware RNG entropy gatherer daemon
Documentation=man:rngd(8)
DefaultDependencies=no
Before=cloud-init-local.service

[Service]
PIDFile=/var/run/rngd.pid
ExecStart=/usr/sbin/rngd -f


[Install]
WantedBy=multi-user.target
