[Unit]
Description=zfs-fuse daemon
After=syslog.target

[Service]
Type=forking
PrivateTmp=False
ExecStart=/usr/sbin/zfs-fuse-helper start
ExecStop=/usr/sbin/zfs-fuse-helper stop

[Install]
WantedBy=multi-user.target
